/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

/* Issue: This text is currently hidden */
.hidden-text {
    display: inline-block ;
    background-color: rgb(37, 182, 42);
    margin: 10px;
   
    /* Fix this */
}

/* Items are currently stacked vertically */
.item {
    display: inline-flex;
    /* Change this to allow them to be side by side */
    padding: 10px;
    background-color: rgb(37, 49, 182);
    margin: 5px;
}